@Model string

@{
    Layout = "_Layout";
}

@* <div style="background: red; margin:  30px; padding:  30px;"> *@
<div class="card bg-primary text-white">
    <h1 class="card-header">Xin chao @Model</h1>
    <p class="card-body cart-text">Ban dang hoc view(cshtml) trong .NetMVC</p>
</div>
<hr>
@this.Path