.contact-firstcol{
    background-color: #9854a0;
    color: white;
    text-align: center;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    h4{
        line-height: 40px;
        font-weight: 400;
        margin-top: 20px;
    }

    img{
        max-width: 100px;
    }
}

.formcontact{
    font-weight: 700;

    .btn-primary{
        background-color: rgba(174, 62, 180,0.5) !important;
    
        &:hover{
            background-color: #e31717 !important;
        }
    }
}
